<ion-header>
	<ion-navbar>
    	<ion-title>
      		Añadir ave
    	</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="myForm" (ngSubmit)="addAve()" novalidate>
    
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" required name="nombrelabel" formControlName="nombrelabel" [(ngModel)]="data.nombrelabel"></ion-input> 
    </ion-item>

    <ion-item *ngIf="myForm.get('nombrelabel').errors && myForm.get('nombrelabel').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('nombrelabel').hasError('required')">El nombre es requerido</p>
    </ion-item>
  

    <ion-item>
      <ion-label stacked>Descripción</ion-label>
      <ion-textarea [(ngModel)]="data.descripcionlabel" name="descripcionlabel" formControlName="descripcionlabel"></ion-textarea>
    </ion-item>

    <ion-item *ngIf="myForm.get('descripcionlabel').errors && myForm.get('descripcionlabel').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('descripcionlabel').hasError('minlength')">Mínimo 20 caracteres</p>
    </ion-item>


    <ion-item>
      <ion-label>Ha sido visto</ion-label>
      <ion-checkbox color="dark" name="checklabel" formControlName="checklabel" [(ngModel)]="addAvis" (ionChange)="actualizarCheck()"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label floating>Lugar</ion-label>
      <ion-input type="text" required name="lugarlabel" [(ngModel)]="data.lugarlabel" formControlName="lugarlabel" [hidden]="contrario"></ion-input> 
    </ion-item>

    <ion-item *ngIf="myForm.get('lugarlabel').errors && myForm.get('lugarlabel').dirty">
      <p color="danger" ion-text *ngIf="myForm.get('lugarlabel').hasError('required')">El nombre es requerido</p>
    </ion-item>

    <ion-item>
      <button ion-button full block type="submit" [disabled]="myForm.get('nombrelabel').hasError('required') || myForm.get('descripcionlabel').hasError('minlength') || myForm.get('descripcionlabel').hasError('required') || !(contrario || !myForm.get('lugarlabel').hasError('required'))">Enviar</button>
    </ion-item>
        
  </form>

</ion-content>