<ion-header>
	<ion-navbar>
    	<ion-title>
      		Añadir avistamiento
    	</ion-title>
  	</ion-navbar>
</ion-header>


<ion-content padding>

  <form [formGroup]="addAvistamientoForm" (ngSubmit)="addAvistamiento()">
   
    <ion-item>
      <ion-label floating>Lugar</ion-label>
      <ion-input type="text" required name="lugarlabel" formControlName="lugarlabel" [(ngModel)]="data.lugarlabel"></ion-input> 
    </ion-item>
   
    <ion-item>
      <button ion-button full type="submit" [disabled]="!localizacionPermitida || addAvistamientoForm.invalid">Enviar</button>
    </ion-item>

    <ion-item *ngIf="addAvistamientoForm.get('lugarlabel').errors">
      <p color="danger" ion-text *ngIf="addAvistamientoForm.get('lugarlabel').hasError('required')">El lugar de avistamiento es requerido</p>
    </ion-item>

    <ion-item *ngIf="!localizacionPermitida">
      <p color="danger" ion-text>Geolocalización requerida</p>
    </ion-item>
       
  </form>

</ion-content>
